body{
    background-image: url(./img/backgroud.webp);
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
  }
  button{
    color:rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-size: 100%; ;
  }
  div{
    background-color: rgba(97, 95, 92, 0.726);
    margin-top: 20%;
  }